<div class="container-fluid bg-dark mt-5">
    <div class="container">
    <footer class="py-5 text-white">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{{ path('app_home') }}" class="nav-link px-2 text-white">Accueil</a></li>
            <li class="nav-item"><a href="{{ path('app_tonalite_index') }}" class="nav-link px-2 text-white">Tonalités</a></li>
            <li class="nav-item"><a href="{{ path('app_chord_index') }}" class="nav-link px-2 text-white">Accords</a></li>
            <li class="nav-item"><a href="{{ path('app_apropos') }}" class="nav-link px-2 text-white">A propos</a></li>
            <li class="nav-item"><a href="{{ path('app_contact') }}" class="nav-link px-2 text-white">Contact</a></li>
            <li class="nav-item"><a href="{{ path('app_cgu') }}" class="nav-link px-2 text-white">C.G.U.</a></li>
        </ul>
        <p class="text-center text-white">&copy; 2025 {{ settings.siteName }}</p>
    </footer>
    </div>
</div>