{% extends 'base.html.twig' %}

{% block title %}Chord index{% endblock %}

{% block body %}
    <h1>Chord index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Image</th>
                <th>Content</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chord in chords %}
            <tr>
                <td>{{ chord.id }}</td>
                <td>{{ chord.title }}</td>
                <td>{{ chord.slug }}</td>
                <td>{{ chord.image }}</td>
                <td>{{ chord.content }}</td>
                <td>{{ chord.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_chord_show', {'id': chord.id}) }}">show</a>
                    <a href="{{ path('app_chord_edit', {'id': chord.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chord_new') }}">Create new</a>
{% endblock %}
