{% extends 'base.html.twig' %}

{% block title %}{{ search.title }}{% endblock %}

{% block body %}
    <div class="container mt-5 contact">
        <div id="success" class="row">
            <div class="col">
                <h1 class="text-center fw-bold border rounded bg-dark text-white p-3">{{ search.title }}</h1>

                <h2 class="h4 mt-4">{{ search.subtitle }}</h2>
                <div class="mb-4">{{ search.content|replace({'<div>': '', '</div>': '',})|raw|nl2br }}</div>

                {{ form_start(searchForm) }}
                    {{ form_row(searchForm.title) }}
                    <button type="submit" class="btn btn-primary my-3">Rechercher</button>
                {{ form_end(searchForm) }}

                {% if chords is not null %} {# Afficher seulement si une recherche a été effectuée #}
                    <div class="row my-4">
                        {% if chords|length == 0 %}
                            <div class="col">
                                <h4 class="h6 fw-bold text-danger">Aucun résultat pour votre recherche.</h4>
                            </div>
                        {% else %}
                            <h3 class="h5 fw-bold border-bottom mb-4 text-success">Résultats de votre recherche :</h3>
                            <div class="row justify-content-center align-item-center">
                                {% for chord in chords %}
                                    <div class="col-lg-2 col-sm-12 mb-4">
                                        <a href="{{ path('app_chord_show', {'slug': chord.slug}) }}">
                                            <img src="{{ asset('uploads/img/chords/' ~ chord.image) }}" alt="{{ chord.title }}" class="img-fluid d-block mx-auto">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
